<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="ShowGifs.Inicio" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<userSettings>
		<ShowGifs.Inicio>
   <setting name="DirOpenedPreviusCesion" serializeAs="String">
    <value>""</value>
   </setting>
   <setting name="FormSize" serializeAs="String">
    <value>0, 0</value>
   </setting>
   <setting name="DirBusqueda" serializeAs="String">
    <value>C:\</value>
   </setting>
   <setting name="SpriteSize" serializeAs="String">
    <value>160, 120</value>
   </setting>
   <setting name="isSearch" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NewPath" serializeAs="String">
    <value />
   </setting>
   <setting name="ExplorerSize" serializeAs="String">
    <value>215, 245</value>
   </setting>
   <setting name="ExplorerTop" serializeAs="String">
    <value>0, 0</value>
   </setting>
  </ShowGifs.Inicio>
	</userSettings>
</configuration>
